/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/.idea
/.env
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app/Event_REMOTE_14088.php
app/Event_LOCAL_14088.php
app/Event_BASE_14088.php
app/Event_BACKUP_14088.php
*.jpg
*.png
*.gif
